@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Whisper&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Whisper', cursive;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

.animate-gradient-rotate {
  animation: rotateGradient 4s linear infinite;
  background-size: 400% 400%;
  border-radius: 26px;
}

.animate-gradient-rotate-wrapper {
  position: relative;
  display: inline-block;
}
